# Folders
__pycache__/
node_modules/
vendor/
bin/
build/
dist/
coverage/
.openapi-generator/

# Specific Files
.env
thunderEnvironment.json
thunderActivity.json
.openapi-generator-ignore

# File Types
*.ini
*.gch
*.exe

# wrangler project

.dev.vars
.wrangler/
