name: Certify Build

on:
  pull_request:
    branches: "*"
    paths:
      - "src/**"
      - "public/**"
      - "*.json"
      - "*.js"

permissions:
  contents: read

jobs:
  certify:
    name: Certify Build Changes
    if: ${{ github.repository_owner == 'amattu2' }}
    runs-on: ubuntu-latest
    steps:
      # Clone repository
      - name: Checkout Repository
        uses: actions/checkout@v3

      # Install dependencies
      - name: Install Dependencies
        run: npm ci

      # Run Jest tests
      - name: Run Jest
        run: npm run test:ci

      # Run ESLint
      - name: Run ESLint
        run: npm run lint:ci
